body {
    margin : 0;
}

/*************************************************************/
/************************* LAYOUT ****************************/
/*************************************************************/
.xWidget {
    /** temporary hack to display aria:widgets correctly **/
    line-height : 11px;
}

#editors-container { 
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
}

#multi-editor { 
    position: absolute;
    top: 30px;
    right: 0;
    height: 500px;
    left: 0;
}

#data-editor { 
    position: absolute;
    top : 536px;
    right: 0;
    bottom: 0;
    left: 0;
}

#preview {
    position: absolute;
    top: 0;
    left: 50%;
    right : 0;
    height:100%;
    border:none;
    overflow : auto;
    box-sizing : border-box;
    padding-left : 6px;
}



/*************************************************************/
/************************** TABS *****************************/
/*************************************************************/

.tab-panel {
    height : 30px;
    font-family: Arial;
    font-size : 13px;
    background : #FAFAFA;
}

.tab-item {
    cursor: pointer;
    float : left;
    position: relative;
    color: white;
    line-height: 30px;
    padding : 0 10px;
    border-width : 0 1px 0 0;
    border-color : lightgrey;
    border-style : solid;
    background : #646464;
}

.tab-button {
    background: rgb(0,133,255);
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin: 3px;
    border-radius: 3px;
    text-shadow: 0px -1px 0px blue;
    font-weight: bold;
}

.tab-item-right {
    float : right;
}

.tab-item:hover {
    text-decoration : underline;
}

.tab-item.tab-selected {
    background : #323232;   
}

.tab-item.tab-selected.tab-error {
    background : rgb(240,60,60);
}

.tab-item.tab-error {
    background : rgb(200,30,0);   
}

.tabpanel-message-container {
    float:left;
    margin-left : 30px;
    line-height: 30px;
    font-weight: bold;
}

/*************************************************************/
/************************ SPLITTER ***************************/
/*************************************************************/

.resize-handle {
    z-index : 900;
    position : absolute;
    box-sizing : border-box;
    -moz-box-sizing : border-box;
}

.resize-proxy {
    z-index : 1000;
    border : 1px dotted grey;
}

.resize-handle-v, .resize-proxy-v {
    width : 6px;
    height : 100%;
    cursor : w-resize;
}

.resize-handle-h, .resize-proxy-h {
    height : 6px;
    width:100%;
    cursor : s-resize;
}

.resize-handle-h {
    background: lightgrey;
    box-shadow : inset 0px -1px 1px 0px #888, inset 0px 1px 3px 0px #eee;
    border-top: 1px solid #ccc;
}

.resize-handle-v {
    background: lightgrey;
    box-shadow : inset -1px 0px 1px 0px #888, inset 1px 0px 3px 0px #eee;
    border-left: 1px solid #ccc;
}

#editors-splitter {
    top:530px;
}
#main-splitter {
    left : 50%;
}
.resize-proxy-hidden {
    display : none;
}

/*************************************************************/
/******************** ERROR MESSAGES *************************/
/*************************************************************/

#error-container-main {
    top : 50px;
    background : white;
    color : red;
}

#error-container-data {
    top : 75%;
    background : #333;
    color : rgb(255, 100, 100);
}

.error-container {
    position : fixed;
    right : 52%;
    padding: 10px;

    font-family : Consolas, Lucida Console, monospace;
    font-size : 12px;

    z-index: 100;
    display : none;
}

.error-displayed {
    display : block;
}

.tooltip {
    position : fixed;
    border-radius: 3px;
    background : wheat;
    background-image : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QUM2OEZDQTQ4RTU0MTFFMUEzM0VFRTM2RUY1M0RBMjYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QUM2OEZDQTU4RTU0MTFFMUEzM0VFRTM2RUY1M0RBMjYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBQzY4RkNBMjhFNTQxMUUxQTMzRUVFMzZFRjUzREEyNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBQzY4RkNBMzhFNTQxMUUxQTMzRUVFMzZFRjUzREEyNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkgXxbAAAAJbSURBVHjapFNNaBNBFH4zs5vdZLP5sQmNpT82QY209heh1ioWisaDRcSKF0WKJ0GQnrzrxasHsR6EnlrwD0TagxJabaVEpFYxLWlLSS822tr87m66ccfd2GKyVhA6MMybgfe97/vmPUQphd0sZjto9XIn9OOsvlu2nkqRzVU+6vvlzPf8W6bk8dxQ0NPbxAALgCgg2JkaQuhzQau/El0zbmUA7U0Es8v2CiYmKQJHGO1QICCLoqilMhkmurDAyapKgqItezi/USRdJqEYY4D5jCy03ht2yMkkvL91jTTX10qzyyu2hruPRN7jgbH+EOsXcMLgYiThEgAMhABW85oqy1DXdRIdvP1AHJ2acQXvDIrVHcdQNrEKNYSVMSZGMjEzIIAwDXIo+6G/FxcGnzkC3T2oMhLjre49sBB+RRcHLqdafK6sYdE/GGBwU1VpFNj0aN8pJbe+BkZyevUrvLl6Xmm0W9IuTc0DxrDNAJd5oEvI/KRsNC3bQyNjPO9yQ1YHcfj2QvfQc/5TUhJTBc2iM0U7AWDQtc1nJHvD/cfO2s7jaGkiTEfa/Ep8coLu7zmNmh8+dc5lZDuUeFAGUNA/OY6JVaypQ0vjr7XYjUvJM37vt+j1vuTK5DgVfVUoTjVe+y3/LxMxY2GgU+CSLy4cpfsYorRXuXIOi0Vt40h67uZFTdIo6nLaZcwUJWAzwNS0tBnqqKzQDnjdG/iPyZxo46HaKUpbvYkj8qYRTZsBhge+JHhZyh0x9b95JqjVJkT084kZIPwu/mPWqPgfQ5jXh2+92Ay7HedfAgwA6KDWafb4w3cAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: 5px center;
    color : black;
    padding : 10px 10px 10px 30px;
    width : 300px;
    font-family : Courier;
    font-size : 14px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    z-index: 100;
    display: none;
}
